
.Container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 40px;
flex-wrap: wrap;
}
.Note{
    color: red;

}
.StripeTestPage{
   text-decoration: none;
    background-color: #607D8B;
    color: white;
    font-size: 15px;
    height: 30.5px;
        width: 250px;
    transition: 1s;
    padding: 7px;
transition: 1s;
border-top-left-radius: 7px ;
border-bottom-left-radius: 7px ;
position: relative;
}
.StripeTestPage::after{
  content: "";
    position: absolute;
    border: 15.5px solid white;
    border-left-color: rgb(30, 141, 145);
    left: 100%;
    top: 0;
}

.StripeTestPage:hover{
    text-decoration: none;
         color:black;
}

.SubContainer{
display: flex
;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 400px;
}


.CartInf{

    display: flex;
gap: 20px;
justify-content: flex-start;
align-items: center;

min-width: 150px;
padding-left: 10px;
flex-wrap: wrap;
}



    .CartInf .input ,.CartInf input{
height: 40px;
    border-radius: 2px;
    color: black;
    border: 1px solid black;
    align-items: center;
    min-width: 172px;
    align-content: center;
    padding: 6px;
    }

    .CartInf .input span{
        font-size: 24px;
    }

    .imgCardNumberBox {
        position: relative;
        width: fit-content;
        display: flex
        ;
        justify-content: center;
        align-items: center;
    }

    .imgCardNumberBox .img{

        width:  50px;
        font-size: 8px;
    position: absolute;
    padding: 0;
    left: 100%;
    z-index: -2;
    transform: translateX(-100%);
    }
    
   .PersonInf h3,.CartInf h3{
    align-self: flex-start;
    width: 100%;
    font-size: 23px;
    text-align: left;
    padding-left: 10px;
}

      input[type="submit"]{
    background-color:#607D8B;
    width: 70%;
    padding: 10px;
    height: 40px;
    text-align: center;
    color: white;
    border: 0px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 16px;

}

 input[type="submit"]:hover{
    background-color: rgb(76, 94, 94);
    transition-duration:1s ;
}

 input[type="submit"]:disabled{
    background-color: rgb(25, 52, 52);
    cursor: not-allowed; 
  opacity: 0.6; 
 

}

 input[type="submit"]:disabled:hover{
    transition-duration:1s ;
    background-color: rgb(25, 52, 52);

}

.List{
   display: flex
;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 300px;
    flex: 1;
    
}
.Deploymentinformation{
    display: flex;
    align-items: center;
    gap: 10;
    flex-wrap: wrap;
    
}

.List .h3{

    width: 100%;
    text-align: left;
    padding: 10px;
    align-self: flex-start;
    font-size: 23px;
}

.Container p{
    color: red;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-size: 10px;}

    .ErrorDiv{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
    }


    @media(Max-Width:778px){
    
        .Note{
            font-size: 13px;
        }
   
         .StripeTestPage{
        font-size: 15px;
         }
         .Container,.Deploymentinformation{
            margin: 20px;
         }
    }