
.Coontainer{
    display: flex;
}

.SubContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.PersonInf,.CartInf{

    display: flex;
    flex-flow: column;
gap: 20px;
justify-content: flex-start;
align-items: center;
margin-top: 30px;
min-width: 300px;
padding-left: 10px;
}

.PersonInf input, select{
    font-size: 28px;
    height: 40px;
    border-radius: 10px;
    width: 75%;
    margin: auto;
}

    .CartInf .input {
        height: 40px;
        border-radius: 10px;
        color: black;
        border: 2px solid black;
        align-items: center;
        min-width: 300px;
        align-content: center;
        padding: 6px;
    }

    .CartInf .input span{
        font-size: 24px;
    }

    .imgCardNumberBox {
        position: relative;
        width: fit-content;
        display: flex
        ;
        justify-content: center;
        align-items: center;
    }

    .imgCardNumberBox .img{

        width:  50px;
        font-size: 8px;
    position: absolute;
    padding: 6px;
    left: 100%;
    z-index: 2;
    transform: translateX(-100%);
    }
    
   .PersonInf h3,.CartInf h3{
    align-self: flex-start;
    width: 100%;
    font-size: 23px;
    text-align: left;
    padding-left: 10px;
}

      input[type="submit"]{
    background-color: rgb(25, 52, 52);
    width: 70%;
    padding: 10px;
    height: 40px;
    text-align: center;
    color: white;
    border: 0px;
    cursor: pointer;
    margin: 10px 0;
    font-size: 16px;

}

 input[type="submit"]:hover{
    background-color: rgb(76, 94, 94);
    transition-duration:1s ;
}

 input[type="submit"]:disabled{
    background-color: rgb(25, 52, 52);
    cursor: not-allowed; 
  opacity: 0.6; 
 

}

 input[type="submit"]:disabled:hover{
    transition-duration:1s ;
    background-color: rgb(25, 52, 52);

}

.List{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.List .h3{

    width: 100%;
    text-align: left;
    padding: 10px;
    align-self: flex-start;
    font-size: 23px;
}

.Container p{
    color: red;
}