

.Container{
    display: flex;
    flex-flow: column;

}
.Container img{
    width: 288px;
    margin: auto;}

 .btn:disabled:hover{

    cursor: not-allowed;
    background-color: red;
}

.btn:hover{
    cursor:pointer;
}


 .btn{
    padding: 10px;
    font-size: 22px;
    background: grey;
    margin: 10px;
    color: white;
    min-width: 134px;
}
.Catigories label {

    font-size: 23px;
    padding: 10px;
    margin: 10px;

}

.Catigories{
    display: flex;
    flex-wrap: wrap;
}

.Container input[type="text"],.Container input[type="number"]{
    
    width: 300px;
    font-size: 23px;
    margin: auto;
}

.h2{
    align-self: flex-start;
    text-align: start;
    width: 100%;
}
.MainContainer{
        display: flex  ;
        align-items: flex-start;
        justify-content: space-between;
        gap: 62px;
    }

    .Catigories .btn{
        width: 100%;
    }

    .btnContainer{
        display: flex;
    }