
.Main{
 display: flex
;
    flex-wrap: wrap;
    gap: 26px;
}
.Container{
        display: flex
;
    flex-flow: row;
    justify-content: space-between;
}

.Container .Selecter{
align-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 2px;
    color: #000;
    height: 40px;
    min-width: 173px;
    width: 100px;
    padding: 6px;
}