


@keyframes AnimationConvergBefore {

  0% {
      right: 124%;
      width: 15%;
  }


  10% {


  }

 



  20% {
      right: 50%;
      width: 50%;
      height: 100%;
      border-radius: 0;
  }

  60% {
  

  }
  70% {


  }

  80% {


  }

  99% {

    
  }

  100% {
      width: 50%;
      height: 100%;
      border-radius: 0;
      right: 50%;
      bottom: 0;
  }
}


@keyframes AnimationConvergAfter {



  0% {
      right: 124%;
      width: 15%;
  }


  10% {
  }

 

  20% {
      left: 50%;
      width: 50%;
      height: 100%;
      border-radius: 0;
  }

  60% {
  }

  70% {
  }

  80% {
 
  }
  
  99%{



  }


  100% {
      width: 50%;
      height: 100%;
      border-radius: 0;
      left:50%;
      bottom: 0;
  }
}


@keyframes AnimationFontGrading {

  0% {
     color:black;
     
  }

  99%{
      background:white;
  }
  100% {
      color: white;
      border: 2px solid white
  }  
}

  .Container {
    display: flex;
    position: relative;
    color: white;
    width: fit-content;
    height: fit-content;
    flex-flow: row;
  transition-duration: 1s;
  transition-timing-function:ease-in-out;
  left: 0;
   

   }

  .SubContainer {
    display: flex;
    position: relative;
     text-align: left;
    width: 100vw;
    z-index: 0;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;
    height: fit-content;
  }
  
  .SubContainer::after{
    content: ""
    ;
    position: absolute;
    left: 0
    ;
    top: 0;
    background-color: black;
    opacity: 70%;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .SubContainer div{
    position: absolute;
    width: fit-content;
    top:50%;
    left: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    transform: translate(0,-50%)
 ;
 max-width: 500px;

  }
  
 
  .h {
    font-size: 41px;
    margin-bottom: 10px;
 
  }
  
 .SubContainer .img {
    width: 100%;
     position: relative;
  }
  
  .p {
    font-size: 23px;
   
  }
  
  .button {
    font-size: 20px;
    border: 6px solid white;
    color: black;
    background: white;
    text-align: center;
    height: 58px;
    width: 150px;
   
    cursor: pointer;
  }
  

  .Prev,.Next{
    border: 0;
    position: absolute;
    z-index: 15;
    font-size: 40px;
    background-color: transparent;
    height: 50px;
     display: flex;
    justify-content: center;
    align-items: center;
text-align: center;
cursor: pointer;
color: white;
  }
  .Prev{
    left: 0%;
    top: 50%;
    transform: translate(10%);

  } 
  
  .Next{
    left: 100%;
    transform: translate(-150%);
    top: 50%;
  }

  .Container .Nav{
    position: fixed;
  }


  .Next,.Prev,.SubContainer div{
    z-index: 4;

  }

  .Container2{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    gap: 10px;
    
    margin-top: 40px;
     

    flex-wrap: wrap;

  }


  .Warper{
  overflow: hidden;;
  }

  .List{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;

  }


  .header{
    margin-top: 99px;
  }
  
.HeadLine {
  color: black;
  background: white;
  border: 3px solid black;
  font-size: 28px;
  margin: 40px auto 40px;
  padding: 4px 15px;
  position: relative;
  text-align: center;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 45;
  font-weight:700;
}

.HeadLine::after {
      content: '';
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background:rgb(73, 91, 73);
      position: absolute;
      left: 126%;
      z-index: -1;
  }

  .HeadLine::before {
      content: '';
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background:rgb(73, 91, 73);
      position: absolute;
      right: 124%;
      z-index: -1;
  }

  .HeadLine:hover::after {
      animation-name: AnimationConvergAfter;
      animation-duration: 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
  }

  .HeadLine:hover::before {
      animation-name: AnimationConvergBefore;
      animation-duration: 3s;
      animation-iteration-count: 1;
      animation-fill-mode:forwards;
  }

  .HeadLine:hover {

      animation:AnimationFontGrading 1s linear forwards ;
   
     
  }

  @media(max-width:778px){

    .Container{
      background-color: black;
      height: 600px;
      z-index: 222;
    }

     .img{
      height: 100%;
      height: 100%;
    }

  }
  