

.Container{
    display: flex;
    flex-flow: column;
    width: 200px;
    height: fit-content;
    gap: 10px;
    padding: 10px;

    border: 2px solid black;
         min-width: 250px;
}

.img{
    width: 100%;

}
.h3{
    font-size: 14px;
}
.span{
    font-size: 11px;
}
.Container button{
    background-color: rgb(10, 66, 85);
    cursor: pointer
    ;
    color:white  ;
    height: 20px;
    border-radius: 20px;
    width: 40px;
    justify-self:end;
    align-self: flex-end;
}

.Container button:disabled{

    opacity: 70%;
}
.Container button:disabled:hover{

    cursor: not-allowed;
}